nav
{
    
    padding: 25px;
    
    
}



nav ul
{
    text-align: center;
    font-size: 1.5em;
}


nav ul li

{

    list-style-type: none;
    display: inline;
    margin: 5px;
    padding: 10px;
    
}

nav ul li a
{
    color: white;
    text-decoration: none;
    
}


#top {
    text-align: center;
}

#banner {
            
        margin-left: 5%;
        
    
}
